// Variables globales
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$bg-light: #e8f5e9;
$bg-dark: #000;
$bg-hover-dark: #333;
$text-color:red;
$text-color-dark:rgb(238, 0, 0);
$color-border: #ddd;
$color-hover: rgba(0, 0, 0, 0.1);
$primary-color:black;
$text-muted: red;
